footer
    .container
        p.text-center Designed and built with all the love in the world by @MForever78, @Gnnng and @Pollow.
        p.text-center Copyright 2013-2014 MSTC ZJU. All rights reserved.