footer.clearfix
    .container
        p.text-center Designed and built with all the love in the world by <a class="author" data-toggle="tooltip" data-placement="top" trigger="hover" title="Design & Front-end">@MForever78</a>, <a class="author" data-toggle="tooltip" data-placement="top" trigger="hover" title="Power & Back-end">@Gnnng</a> and <a class="author" data-toggle="tooltip" data-placement="top" trigger="hover" title="Power & Back-end">@Pollow</a>.
        p.text-center Copyright 2013-2014 MSTC ZJU. All rights reserved.