head
    meta(charset = 'utf-8')
    meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
    meta(name = 'msapplication-config', content = 'none')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
    title= title

    link(href = 'css/bootstrap.css', rel = 'stylesheet')
    link(href = 'css/custom.css', rel = 'stylesheet')

    <!--[if lt IE 9]>
    script(src = 'js/html5shiv.js')
    script(src = 'js/respond.min.js')
    <![endif]-->