nav.navbar.navbar-default.navbar-fixed-top(role = 'navigatioin')
    .container-fluid
        .navbar-header
            a.navbar-brand(href = '/') MSC ZJU Contact
            button.navbar-toggle(type = 'button', data-toggle = 'collapse', data-target = '#mainNavbar')
                <span class="sr-only">Main Navbar Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        .collapse.navbar-collapse#mainNavbar
            ul.nav.navbar-nav
                li#list-main
                    a(href = '/main') 通讯录
                li
                    a(href = '//mail.mstczju.org') 邮箱
                if (loggedin == 1)
                    li
                        a(href = '/api') API
                li
                    a(href = '/about') 关于
            if (loggedin == 1)
                ul.nav.navbar-nav.navbar-right
                    li#navExport.hidden
                        a.dropdown-toggle(data-toggle = 'dropdown', href = "#") 导出
                        ul.dropdown-menu
                            li
                                a#csv CSV
                            //- li
                                //- a#xls XLS
                            li
                                a#xlsx XLSX
                    li
                        a(href = '/logout') 登出
