doctype html

html(lang = 'zh')
    include includes/head

    body#404
        include includes/nav
        .jumbotron
            .container
                h1.text-center Oops 404
                h2.text-center 谁让你乱点，玩坏了吧？
        .container
            img.img-responsive.center-block(src = 'img/404.png', alt = '404 error')

        include includes/js
        include includes/footer