doctype html

html(lang = 'zh')
    include includes/head

    body#about
        include includes/nav
        .jumbotron
            .container
                h1 关于
        .container.content
            .row
                .col-sm-offset-2.col-sm-8
                    h2 更新日志
                    p.version v2.3 2015-5
                    ul
                        li 修复因组件升级 API 不向后兼容导致的导出 XLSX 功能异常
                        li 日志功能增强
                        li 代码清理
                    p.version v2.2 2015-4
                    ul
                        li 升级到 Express 4，中间件重构
                        li Session 存储到 MongoDB 中
                        li Session secret 更改存储到本地文件中
                        li 去掉自己改造的 logger
                    p.version v2.1 2014-11
                    ul
                        li 增加 API 及 API 页面
                    p.version v2.0 2014-4
                    ul
                        li 前端换用 Bootstrap ，后端逻辑重构完善
                        li UI 重新设计，全平台响应
                        li 加入 2048 小游戏在首页
                    p.version v1.0 2013-12
                    ul
                        li 初版上线
            .row
                .col-sm-offset-2.col-sm-8
                    h2 项目介绍
                    p MSTC ZJU Contact 这个项目最开始是苏学姐提出来的，我们三个（@Gnnng, @Pollow, @MForever78）刚好凑齐一套前端后台开发，正好拿这个项目练一下级，所以就接了下来。
                    p 小项目的好处是可以尝试最新的技术，不用再一边吐槽一边不断安慰自己 PHP 是世界上最好的语言。于是我们后台使用了 nodejs 下的 express 框架，前端选择了简单易学的 ejs 模板语言。
                    p 最开始开发的时候我们发现最大的短板不是技术，而是设计。你让三个死程聚在一块写出什么高大上的网页？平时看网站的时候没有特别注意，但自己做起来以后就再也没有底气骂 12306 了。前端同学找了一个艺设的小伙伴帮忙才做出了网站第一版的设计图。相比之下后台开发就很顺利，基本上一直在等前端的工作。前后折腾了两周左右第一版就正式上线了。
                    p 第一版反响很好，上线后大家把整个网站的方方面面都吐槽了一遍。我们说，我们要重构！
                    p 连重构这种鬼话都能相信少年你真是图样，成坑简直是理所当然的事情。网站高大上不起来，全是前端的错。于是假期时，前端同学作为一个死程滚去学习了前端网站设计，把从设计风格理念到前端标准、常用工具各方面的技能都往上点了一点。春学期开始，在大家已经遗忘这个项目的时候，我们居然真的开始重构了。
                    p 第一版到第二版，代码相似度少于 20%，基本就是重头来写。后端同学重写了数据库模型，对登陆验证增加了安全措施，增加了导出通讯录的功能，对项目的开发环境和产品环境进行了配置和区分，完善了项目文档（是真的！）。其中一些琐碎的细节消耗了大量的精力，谁写谁知道。前端带了一身新点的技能，按照专业的 workflow，先 PS （居然会）出效果图，然后写成静态 HTML，再改写成动态 Jade 模板，使用 less 样式化，最后加上 Js 交互。在后台的强力驱动下，这个全设备响应式扁平化可筛选支持一键导出长得还挺好看的第二版重构成功！
                    p 在花了一个周末的时间完善和调试了最后的功能后，我们觉得它真的可以和大家见面了。这次我们都很喜欢这个版本，所以大家玩的时候轻一点，不要弄坏了哦。
                    p 我们的项目托管在 <a href = 'https://github.com/pollow/Contacts'>Github</a> 上面，有什么问题、建议和吐槽欢迎去项目主页和我们交流。欢迎 Star ，欢迎 Fork。
                    p 能看到这里的都是真爱，无以为报，特奉上王道，笑纳。
                    img.center-block.img-responsive(src = 'img/about-us.png', alt = 'About us')

        include includes/footer
        include includes/js
