doctype html

html(lang = 'zh')
    include includes/head

    body
        nav(class = 'navbar navbar-default navbar-fixed-top', role = 'navigatioin')
            .container-fluid
                .navbar-header
                    a.navbar-brand(href = '#') MSTC ZJU Contact
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href = '#')首页
                        li
                            a(href = '#')邮箱
                        li
                            a(href = '#')关于

        .jumbotron
            .container
                h1 MSTC ZJU Contact
                h2 浙江大学微软技术俱乐部</br>内部通讯录
                form.formhorizontal(role = 'form')
                    .form-group
                        


        script(src = '../public/js/jQuery.js')
        script(src = '../public/js/bootstrap.js') 