doctype html

html(lang = 'zh')
    include includes/head

    //Comment for login test

    - var loggedin = true;

    body#index
        include includes/nav
        .jumbotron
            .container
                .row
                    .col-sm-8
                        h1 MSTC ZJU Contact
                        h2 浙江大学微软技术俱乐部</br>内部通讯录
                    if !loggedin
                        .col-sm-4
                            form.form-horizontal(role = 'form', action = 'login', method = 'post')
                                .form-group
                                    label.col-sm-3.control-label(for = 'inputEmail') 用户名
                                    .col-sm-9
                                        input.form-control#inputEmail(name = 'username', type = 'text', placeholder = 'First name.Last name')
                                .form-group
                                    label.col-sm-3.control-label(for = 'inputPassword') 密码
                                    .col-sm-9
                                        input.form-control#inputPassword(name = 'password', type = 'password', placeholder = 'Password')
                                .form-group
                                    .col-sm-offset-3.col-sm-9
                                        .checkbox
                                            label
                                                input(type = 'checkbox')
                                                span 记住我
                                .form-group
                                    .col-sm-offset-3.col-sm-9
                                        button.btn.btn-default(type = 'submit') 登陆
                if loggedin
                    .row
                        .col-sm-offset-10.col-sm-2
                            a.btn.btn-default.btn-block.btn-lg(href = 'main/') 进入通讯录
        .container.game
            iframe(width='500', height='400', scrolling='no', frameborder='no', src=game)

        include includes/footer
        include includes/js
