<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Please Login First</p>
    <form method="post" action="/login">
      <p>User:<input id="user" type="text" name="user"></p>
      <p>Password:<input id="password" type="password" name="password"></p>
      <input type="submit" value="Submit!">
    </form>
  </body>
</html>
