<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MSTC ZJU Contact</title>
    <link href="../public/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../public/js/html5shiv.js"></script>
    <script src="../public/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav role="navigatioin" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand">MSTC ZJU Contact</a></div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">邮箱</a></li>
            <li><a href="#">关于</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>MSTC ZJU Contact</h1>
        <h2>浙江大学微软技术俱乐部</br>内部通讯录</h2>
        <form role="form" class="formhorizontal">
          <div class="form-group"></div>
        </form>
      </div>
    </div>
    <script src="../public/js/jQuery.js"></script>
    <script src="../public/js/bootstrap.js"> </script>
  </body>
</html>