<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Contacts for MSTC ZJU</title>
	<link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
	<div class="logo"></div>
	<div class="Wrap">
		<div class="leftWrap"></div>
		<div class="rightWrap">
			<form action="" method="post" class="loginBox">
				<input type="email"	name="Email" class="formCtrl" placeholder="Email Address" required autofocus>
				<input type="password" name="Password" class="formCtrl" placeholder="Password" required>
				<button type="submit" class="subButton">登陆</button>
			</form>
		</div>
	</div>
</body>
</html>