<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Contacts for MSTC ZJU</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="logo"></div>
	<div class="Wrap">
		<div class="leftWrap">
			<h1 style="font-variant: small-caps; margin: 170px 0 0 70px">Online Contacts</h1>
			<p style="text-align: right; margin-right: 50px">for MSTC ZJU</p>
		</div>
		<div class="rightWrap">
			<form action="/login" method="post" class="loginBox">
				<h2>用户名</h2>
				<input type="text" name="Username" class="formCtrl" required autofocus>
				<h2>密码</h2>
				<input type="password" name="Password" class="formCtrl" required>
				<button type="submit" class="subButton">登陆</button>
			</form>
		</div>
	</div>
</body>
</html>
