doctype html

html(lang = 'zh')
    include includes/head

    body#index
        include includes/nav
        .jumbotron
            .container
                .row
                    .col-sm-7
                        h1 MSTC ZJU Contact
                        h2 浙江大学微软技术俱乐部</br>内部通讯录
                    .col-sm-5
                        form.formhorizontal(role = 'form', action = 'login', method = 'post')
                            .form-group
                                label.col-sm-2.control-label(for = 'inputEmail') 用户名
                                .col-sm-10
                                    input.form-control#inputEmail(name = 'username', type = 'text', placeholder = 'First name.Last name')
                            .form-group
                                label.col-sm-2.control-label(for = 'inputPassword') 密码
                                .col-sm-10
                                    input.form-control#inputPassword(name = 'password', type = 'password', placeholder = 'Password')
                            .form-group
                                .col-sm-offset-2.col-sm-10
                                    .checkbox
                                        label
                                            input(type = 'checkbox')
                                            span 记住我
                            .form-group
                                .col-sm-offset-2.col-sm-10
                                    button.btn.btn-default(type = 'submit') 登陆
        .container
            .row
                .col-md-offset-2.col-md-8
                    p
                        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        include includes/footer
        include includes/js
