doctype html
html(lang = 'zh')
    include includes/head
    body#main
        include includes/nav
        .jumbotron
            h1 内部通讯录
            h2 通过筛选器选择过滤条件，通过搜索栏直接搜索（支持正则表达式）
            .row
                .col-md-offset-9.col-md-3
                    .input-group
                        input.form-control(type = 'text')
                        span.input-group-btn
                            button.btn.btn-default(type = 'button') 搜索

        .container
            aside
                .list-group.col-md-2
                    .list-group-item MSTC ZJU Contact 筛选器
                    a.list-group-item.active(href = '#') 全部
                    a.list-group-item(data-toggle = 'collapse', data-target = '#gender') 性别
                    #gender.collapse.filterbox
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'male')
                                |  男
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'female')
                                |  女
                    a.list-group-item(data-toggle = 'collapse', data-target = '#grade') 年级
                    #grade.collapse.filterbox
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'one')
                               |  大一
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'two')
                               |  大二
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'three')
                               |  大三
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'four')
                               |  大四
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'master')
                               |  研究生
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'work')
                               |  工作
                    a.list-group-item(data-toggle = 'collapse', data-target = '#group') Group
                    #group.collapse.filterbox
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'TG')
                                |  TG
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'OG')
                                |  OG
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'CG')
                                |  CG
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'PG')
                                |  PG
                    a.list-group-item(data-toggle = 'collapse', data-target = '#campus') 所在校区
                    #campus.collapse.filterbox
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'zijingang')
                                |  紫金港
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'yuquan')
                                |  玉泉
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'xixi')
                                |  西溪
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'huajiachi')
                                |  华家池
            .row
                .col-md-offset-3.col-md-9
                    .table-responsive
                        table.table.table-striped.table-hover
                            tr
                                th #
                                th 姓名
                                th 常用ID
                                th 联系方式
                            tr(data-toggle = 'modal', data-target = '#1')
                                td 1
                                td 仝昕钢
                                td MForever78
                                td 15700011111
                            tr(data-toggle = 'modal', data-target = '#2')
                                td 2
                                td 弓得力
                                td Gnnng
                                td 18868122222
                            tr(data-toggle = 'modal', data-target = '#3')
                                td 3
                                td 邢畅
                                td Pollow
                                td 18868133333
            #1.modal.fade(aria-hidden = 'true', role = 'dialog', aria-labeledby = 'Lable1')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') &times;
                            h4#Label1.modal-title 仝昕钢
                        .modal-body
                            | 啦啦啦
                        .modal-footer
                            button.btn.btn-default(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') 关闭
            #2.modal.fade(aria-hidden = 'true', role = 'dialog', aria-labeledby = 'Lable2')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') &times;
                            h4#Label2.modal-title 弓得力
                        .modal-body
                            | 啦啦啦
                        .modal-footer
                            button.btn.btn-default(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') 关闭
            #3.modal.fade(aria-hidden = 'true', role = 'dialog', aria-labeledby = 'Lable3')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') &times;
                            h4#Label3.modal-title 邢畅
                        .modal-body
                            | 啦啦啦
                        .modal-footer
                            button.btn.btn-default(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') 关闭

        include includes/footer
        include includes/js
