<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Contacts for MSTC ZJU</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/list.js"></script>
</head>
<body>
	<div class="topWrap"></div>
	<div class="titleWrap">
		<div class="mainTitle">ONLINE CONTACT<br>FOR MSTC ZJU</div>
	</div>
</body>
</html>
