<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Contacts for MSTC ZJU</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="topWrap"></div>
	<div class="titleWrap">
		<div class="mainTitle">ONLINE CONTACT<br>FOR MSTC ZJU</div>
	</div>
	<div class="maleNameWrap">
		<div class="nameTag">
			仝昕钢
		</div>
		<div class="leftInfo">
			<div>
				<span class="listTag">性别</span><span>男</span>
			</div>
			<div>
				<span class="listTag">常用ID</span><span>MForever78</span>
			</div>
			<div>
				<span class="listTag">联系方式</span><span>15700078783 560890</span>
			</div>
			<div>
				<span class="listTag">SNS</span><span>MForever78.com</span>
			</div>
		</div>
		<div class="rightInfo">
			<div><span class="listTag">专业</span><span>工信</span></div>
			<div><span class="listTag">校区</span><span>紫金港</span></div>
			<div><span class="listTag">QQ</span><span>412563163</span></div>
			<div><span class="listTag">邮箱</span><span>shunjian1128@gmail.com</span></div>
		</div>
		<div class="maleGroup">TG</div>
	</div>
	<div class="femaleNameWrap">
		<div class="nameTag"></div>
		<div class="leftInfo"></div>
		<div class="rightInfo"></div>
		<div class="femaleGroup">CG</div>
	</div>
</body>
</html>