body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url(../images/background.jpg) no-repeat;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
<<<<<<< HEAD
	height: 600px;
=======
	height: 700px;
>>>>>>> cad7d4b2e2edba0a48dd424cb49fb40ea5673396
}

a {
	color: #00B7FF;
}

.logo {
	width: 200px;
	height: 100px;
	margin: 60px auto;
}

.Wrap {
<<<<<<< HEAD
	width: 800px;
=======
	width: 900px;
>>>>>>> cad7d4b2e2edba0a48dd424cb49fb40ea5673396
	margin: auto;
}

.leftWrap {
<<<<<<< HEAD
	width: 280px;
	height: 200px;
	float: left;
	font: ;
}

.rightWrap {
	width: 280px;
	height: 200px;
	float: right;
=======
	width: 400px;
	height: 400px;
	vertical-align: middle;
	float: left;
	background: url(../images/left.png);
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	color: #920A04;
}

.rightWrap {
	width: 400px;
	height: 400px;
	float: right;
	background: url(../images/right.png);
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	color: #920A04;
}

.rightWrap h2 {
	text-align: center;
	margin: 80px 0 0 0;
}

.loginBox {
	margin: 0px auto auto 45px;
>>>>>>> cad7d4b2e2edba0a48dd424cb49fb40ea5673396
}

.formCtrl {
	width: 264px;
	height: 35px;
	margin: 10px;
<<<<<<< HEAD
}

.subButton {
	position: relative;
	float: right;
	margin-right: 10px 0;
	width: 80px;
	height: 25px;
	background-color: #eee;
	border-radius: 10px;
=======
	visibility: none;
}

.subButton {
	width: 80px;
	height: 25px;
	background-color: #eee;
	border-radius: 6px;
	margin: 10px auto;
}

.pageWrap {
	width: 1100px;
	background-color: #FFF;
	height: 500px;
	margin: 50px auto;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	box-shadow: 0 0 30px rgba(0, 0, 0, .3);
>>>>>>> cad7d4b2e2edba0a48dd424cb49fb40ea5673396
}