body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	background-color: #c3c3c8;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 0;
	height: 600px;
}

a {
	color: #00B7FF;
}

/*index*/

.logo {
	width: 200px;
	height: 100px;
	margin: auto;
}

.Wrap {
	width: 900px;
	margin: auto;
}

.leftWrap {
	width: 400px;
	height: 400px;
	vertical-align: middle;
	float: left;
	background: url(../images/left.png);
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	color: #920A04;
}

.rightWrap {
	width: 400px;
	height: 400px;
	float: right;
	background: url(../images/right.png);
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	color: #FFF;
}

.rightWrap h2 {
	text-align: center;
	font-weight: 100;
}

.loginBox {
	margin: 80px auto;
	text-align: center;
}

.formCtrl {
	width: 240px;
	height: 30px;
	border-style: none none solid none;
	border-width: 3px;
	border-color: #73674f;
	background-color: #b8af9e;
	text-align: center;
	color: #73674f;
	font-size: 20px;
}

.formCtrl:focus {
	background-color: #FFF;
	border-style: none solid solid none;
	border-width: 4px;
	border-right-color: #9a907e;
	border-bottom-color: #814e2f;
	outline: none;
}

.subButton {
	width: 80px;
	height: 25px;
	background-color: #920A04;
	margin: 30px auto;
	display: block;
	color: #FFF;
	border-style: none;
}

.pageWrap {
	width: 1100px;
	background-color: #FFF;
	height: 500px;
	margin: 50px auto;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

/*main*/

.topWrap {
	position: relative;
	width: 100%;
	min-width: 1180px
	background-color: #3c3b3b;
	opacity: 0.4;
	height: 35px;
	border-bottom-color: #FFF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.searchWrap {
	position: relative;
	width: 290px;
	height: 36px;
	float: right;
}

.search {
	width: 250px;
	height: 36px;
	font-size: 20px;
	text-indent: 1em;
	font-weight: 100;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
	position: relative;
	float: left;
}

.searchButton {
	width: 34px;
	height: 34px;
	background: url(/images/search.png);
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
	position: relative;
	float: right;
}

.search:focus {
	outline: 0;
}

.titleWrap {
	width: 100%;
	text-align: center;
}

.mainTitle {
	color: #920A04;
	font-size: 40px;
	font-weight: 900;
	font-family: Impact;
	word-spacing: 8px;
	display: inline-block;
	width: 400px;
	height: 100px;
	text-align: left;
	border-left: solid 8px #920A04;
	border-right: solid 8px #920A04;
	margin: 40px 765px 20px 0;
}

.maleNameWrap {
	background: url(/images/male.png);
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 1180px;
	height: 170px;
	margin: 50px auto;
	color: #920A04;
}

.femaleNameWrap {
	background: url(/images/female.png);
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 1180px;
	height: 170px;
	margin: 50px auto;
	color: #926e44;
}

.nameTag {
	color: #FFF;
	font-size: 25px;
	position: relative;
	float: left;
	top: 28px;
	left: 5px;
	width: 75px;
}

.listTag {
	display: inline-block;
	width: 100px;
}

.leftInfo {
	font-size: 20px;
	position: relative;
	float: left;
	top: 22px;
	left: 125px;
	width: 400px;
}

.leftInfo li {
	text-decoration: none;
}

.rightInfo {
	font-size: 20px;
	position: relative;
	float: left;
	top: 22px;
	left: 280px;
	width: 400px;
}

.maleGroup {
	position: relative;
	float: right;
	top: 125px;
	right: -25px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	border: solid 5px #920A04;
	background-color: rgba(255, 255, 255, .6);
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	letter-spacing: 3px;
}

.femaleGroup {
	position: relative;
	float: right;
	top: 125px;
	right: -25px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	border: solid 5px #926e44;
	background-color: rgba(255, 255, 255, .6);
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 70px;
}