body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

.logo {
	width: 200px;
	height: 100px;
	margin: auto;
}

.Wrap {
	width: 800px;
	margin: auto;
}

.leftWrap {
	width: 280px;
	height: 200px;
	float: left;
	font: ;
}

.rightWrap {
	width: 280px;
	height: 200px;
	float: right;
}

.formCtrl {
	width: 264px;
	height: 35px;
	margin: 10px;
}

.subButton {
	position: relative;
	float: right;
	margin-right: 10px 0;
	width: 80px;
	height: 25px;
	background-color: #eee;
	border-radius: 10px;
}