/*
    This is a Custom stylesheet
*/

/*
    Varibles
*/

//Fonts

@font:                          "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

//Heights & Widths

@navbar-height:                 50px;
@nav-lg-size:                   130px;

//Colors

@white:                         #FFF;
@blue:                          #3498db;
@dark-blue:                     #2980b9;
@light-blue:                    #b1d8f2;
@gray-blue:                     #b6d4e9;
@dark-gray-blue:                #5a6b7a;
@gray:                          #6e6e6e;
@dark-gray:                     #e3e5e9;
@light-gray:                    #f7f6fa;
@filterbox-bg:                  #fff;
@filterbox-border:              #ddd;
@table-bg:						#f9f9f9;

//Size

@list-group-radius:             8px;

/*
    mixin
*/


//Single side border-radius
.border-top-radius(@radius) {
  border-top-right-radius: @radius;
   border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
     border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
   border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
     border-top-left-radius: @radius;
}

/*
    Global Settings
*/

body {
    font-family: @font;
}

/*
    Navbar
*/

//Colors

.navbar {
    border-bottom: 1px solid @dark-blue;
}

.navbar-default {
    background-color: @blue;
    color: @white;

    .navbar-brand{
        color: @white;
        &:hover,
        &:focus {
            color: @white;
            background-color: @blue;
        }
    }
    
    .navbar-nav {
        > li > a {
            color: @gray-blue;

            &:hover,
            &:focus {
                color: @white;
                background-color: @dark-blue;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: @white;
                background-color: @dark-blue;
            }
        }
    }

    .navbar-toggle {
        border-color: @light-blue;

        .icon-bar {
            background-color: @light-blue;
        }

        &:hover,
        &:focus {
            background-color: @dark-blue;
        }
    }

    .navbar-collapse {
        border-color: @dark-blue;
    }
}

//Size

.nav {
    > li {
        min-width: @nav-lg-size;
        text-align: center;
    }
}

//Dropdown

.dropdown-menu {
    min-width: 0;
    width: @nav-lg-size;
    > li > a {
        cursor: pointer;
    }

}

.navbar-default .navbar-nav {
    > .open > a {
        background-color: @dark-blue;
        color: @white;

        &:hover,
        &:focus {
            background-color: @dark-blue;
            color: @white;
        }
    }
}

/*
    Jumbotron
*/

//Colors

.jumbotron {
    background-color: @blue;
    color: @white;
    border-top: 2px solid #43a2df;

    h2 {
        color: @light-blue;
    }
}

//Style

// .jumbotron {
//     background: url(img/index-jumbotron-bg.png) repeat-y;
// }

//Size

.jumbotron {
    h1 {
        font-weight: bold;
    }
}

/*
    Buttons
*/

//Colors

.btn-default {
    color: @gray;
}

/*
    Aside
*/


//Colors

.list-group-item {
    &.list-group-brand {
        color: @blue;
    }
    background-color: @light-gray;
    border: 0px;
}

a.list-group-item {
    color: @dark-gray-blue;
    &:hover, 
    &:focus {
        color: @dark-gray-blue;
        background-color: @dark-gray;
    }
}

//Styles

.list-group-item {
    &:first-child {
        .border-top-radius(@list-group-radius);
    }
    &:last-child {
        .border-bottom-radius(@list-group-radius);
    }
}

//Position

.list-group {
    .filterbox {
        padding: 0 15px;
        background-color: @filterbox-bg;
        border: 0px solid @filterbox-border;
    }
}

/*.affix-top {
    position: absolute;
    top: 364px;
    left: 70px;
}*/

.affix {
    position: fixed;
    top: 60px;
    @media (min-width: 992px) {
        width: 212px;
    }
    @media (min-width: 1200px) {
        width: 262px;
    }

}

.list-group-item {
    padding: 10px 20px;

    &.list-group-brand {
        padding: 15px 20px;
    }
}

//Heights & Widths



//Size

.list-group-item {
    &.list-group-brand {
        font-weight: bold;
    }
}

/*
    Table
*/

//Colors

.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: lighten(@light-blue, 10%);
    }
  }
}

#main .main-table tr td:nth-child(2)::before{
    content: '@';
}

.main-table {
	> thead > tr > th {
		background-color: @table-bg;
	}
	tr.strip {
		background-color: @table-bg;
	}
}

/*
    Game
*/

.game {
    text-align: center;
}

#gameFrame {
    width: 350px;
    height: 400px;
}

/*
    Modal
*/

.modal-body {
    padding: 0 20px;
    h5 {
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid #cccccc;
    }

    table {
        tr {
            > th {
                text-align: right;
                min-width: 180px;
            }
            > th,
            > td {
                padding: 10px 30px;
                line-height: 10px;
            }
        }
    }

    .basic-table tr:last-child td::before{
        content: '@';
    }
}

/*
    To be hidden
*/

#flag, #who, #export{
    display: none;
}

/*
    Footer
*/

//Colors

footer {
    p {
        color: @gray;
    }
}

//Position

footer {
    padding: 10px 15px;
}

//Author

a.author {
    cursor: default;
    &:hover {
        text-decoration: none;
    }
}

//body padding

body {
    padding-top: @navbar-height;
}

/*
    Login Failed Alert
*/


#index .alert {
    padding: 6px;
    margin: 0;
}

/*
    Change box
*/

#changeBox .alert {
    padding: 6px;
    margin: 10px 0;
}

/*
    Others
*/

.main-content {
	min-height: 500px;
}

.filterHidden {
    display: none !important;
    visibility: hidden !important;
}
